@import "./variables";
@import "./mixins";

.img-carrusel {
    height: map-get($fotos-carrusel, altura);
    object-fit: map-get($fotos-carrusel, encaje);
}

.parrafo {
    width: 31.25rem;
    margin: 3rem;
    font-size: 1.4rem;
    text-align: center;
    align-self: center;
}

.titulos {
    padding-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3rem;
    font-family: 'OpenSans-ExtraBold', sans-serif;
    color: #3D405B;
}

.claro {
    color: #f6f6f6;
    text-shadow: 2px 2px #000000;
}

.mochilasVarias {
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: row;

    img {
        border-radius: 10px 100px / 120px;
        object-fit: cover;
    }
}

.equipo {
    &_divGeneral {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    
    &_div {
        @include flex(row);
        justify-content: flex-start;
        margin-top: -2.6rem;

        &_content {
            @include flex(row);
            align-items: center;
            width: 100%;
            justify-content: space-evenly;
            position: relative;

            & img {
                width: 25rem;
                height: 18.75rem;
                transform: skewY(0deg);
                filter: none;
                transition: transform 2s, filter 2s; 
                border-radius: 10px 100px / 120px;
                object-fit: cover;
            }

            & img:hover {
                transform: rotateY(180deg);
                transform-style: preserve-3d;
                filter: blur(2px);
            }

            &_imagen {
                position: relative;

                &_atras {
                    position: absolute;
                    display: none;
                    top: 4rem;
                    left: 0.1rem;
                    pointer-events: none;
                    background-color: rgba(255, 255, 255, 0.7);
                    border-radius: 10px;
                    box-shadow: 1px 1px 20px white;
                    font-weight: bold;
                    text-align: center;
                    padding: 0.5rem;
                    margin: 0.5rem;
                }
            }

            & img:hover ~ &_imagen_atras {
                display: block;
            }
            
            .nombres_equipo {
    
                color: #3d405d;
                background-color: #f6f6f6;
                text-transform: uppercase;
                letter-spacing: 5px;
                font-size: 1.4rem;
                font-family: 'OpenSans-ExtraBold', sans-serif;
            }

        }
    }
    
    &_div:first-child {
        margin-top: 0;
    }
    
    &_div:nth-child(even) {
        justify-content: flex-end;
    }

    &_div:nth-child(even) &_div_content {
        flex-direction: row-reverse;
    } 

}

.marcas {
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;

    .logo {
        img {
            filter: opacity(0.4);
            box-shadow: none;
            border-radius: 50% 50% / 50% 50%;
            transition: filter 2s, box-shadow 1s;
        }

        img:hover {
            filter: opacity(1);
            box-shadow: 1px 1px 20px black;
        }
    }
}

.beneficiosExclusivos {
    font-family: 'Open Sans';
    align-items: center;
}

.footerGeneral {
    width: 100%;
    height: 6rem;
    background-color: #14213D;
    display: flex;
    padding-left: 1rem;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1rem;  
}

.footer {
    @include flex(column);
    justify-content: center;
    color: white;

    &-parrafo {
        @include flex(row);
        align-items: center;

        .footer-anchor {
            margin-top: 0.5rem;
            padding-left: 0.5rem;
        }
    }
}

.mochila-img {
    height: 32rem;
    object-fit: contain;
    align-self: center;
}

.sucursales {
    .list-group-item.active {
        background-color: $color-sucursal-activa;
        border-color: $color-sucursal-activa;
    }
}

.ctn-mapa {
    height: 20rem;
}

@each $fondo, $imagen in $fondos {
    .fondo-#{$fondo}{
        background-image: url(../img/#{$imagen});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.boton-comprar {
    margin-top: 0.5rem;
    font-weight: 800;
}

.boton-comprar-hombre {
    @extend .boton-comprar;
    background-color: #005f73;
    color: white
}

.boton-comprar-mujer {
    @extend .boton-comprar;
    background-color: #ca6702;
    color: white
}

.boton-comprar-kids {
    @extend .boton-comprar;
    background-color: #e9d8a6;
}