@import './variables';

.header {
    background: map-get($colores, encabezado); 
    background-image: url(../img/wave.svg);
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;

    &_logo {
        letter-spacing: 0.8rem;
        text-transform: uppercase;
        height: fit-content;

        & &-h1 p {
            color: map-get($colores, logo);
            font-size: 4rem;
            font-family: 'Shizuru', cursive;
            text-shadow: 2px -1px #9b9898;
            white-space: normal;
            text-align: center;
        }
    }
    
    &_links {
        width: 100%;
        color: map-get($colores, vinculos);
        font-size: 16pt;
        font-weight:bold;
        text-shadow: 0.5px -0.5px map-get($colores, vinculos-sombra);
    }
}

.lista {
    width: 98vw;
}


