.header {
    background: #bdc3c7; 
    background-image: url(../img/wave.svg);
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;

    &_logo {
        letter-spacing: 0.8rem;
        text-transform: uppercase;
        height: fit-content;

        & &-h1 p {
            color: #14213D;
            font-size: 4rem;
            font-family: 'Shizuru', cursive;
            text-shadow: 2px -1px #9b9898;
            white-space: normal;
            text-align: center;
        }
    }
    
    &_links {
        width: 100%;
        color: #735751;
        font-size: 16pt;
        font-weight:bold;
        text-shadow: 0.5px -0.5px #E5E5E5;
    }
}

.lista {
    width: 98vw;
}


