@media screen and (max-width: 433px) 
{
    .header {
        max-width: 100%;
        justify-content: center;
        height: auto;
    }

    .header_logo .header_logo-h1 p{
        font-size: 3rem;
    }

    .header_links {
        height: auto;
    }

    .lista {
        flex-direction: column;
        align-items: center;
        border: #f6f6f6 solid 2px;
    }
   
    .img-carrusel {
        max-width: 100vw;
        max-height: 400px;
    }

    .mochilasVarias {
        flex-direction: column;
        margin: 0;

        img {
            width: 400px;
            height: 400px;
        }
    }

    .parrafo {
        width: 100%;
    }

    .equipo_divGeneral {
        display: grid;
        grid-template-columns: 1fr;

        img{
            width: 300px;
            height: 200px;
        }

        img, p {
            margin-bottom: 10px;
        }
    }

    .equipo_div_content {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .equipo_div,
    .equipo_div:nth-child(even) {
        margin-top: 0rem;
        justify-content: center;
    }

    .equipo_div:nth-child(even) .equipo_div_content {
        flex-direction: column;
    }

    .equipo_div_content img:hover ~ .equipo_div_content_atras,
    .equipo_div:nth-child(even) .equipo_div_content img:hover ~ .equipo_div_content_atras {
        margin: auto;
        width: auto;
        padding: unset;
        top: 1rem;
    }
    
    .marcas {
        grid-template-columns: 1fr;
        grid-template-rows: 280px 280px 280px 280px 280px 280px;
    }

    .beneficiosExclusivos {
        margin-bottom: auto !important;
    }

    .footerGeneral {
        height: auto;
    }

    /*PRODUCTOS*/

    .mochila-img {
        max-width: 26.5rem;
        margin: 0;
    }

    /*FOOTER*/

    .footerGeneral {
        flex-direction: column;
        align-items: center;
    }

    .footer {
        text-align: center;
    }
}
