@media screen and (max-width: 320px)
{
    .mochilasVarias img {
        width: 18.75rem;
        height: 18.75rem;
    }

    .header {
        height: auto;
    }

    .header_logo {
        letter-spacing: 0;
        text-transform: uppercase;
        height: fit-content;
        width: 100%;

        .header_logo-h1 p {
            font-size: 3rem;
        }
    }

    .header_links {
        height: auto;
    }

    .equipo_div_content{
        width: auto;
    }

    .equipo_divGeneral {
        grid-template-columns: 1fr;
    }

    .equipo_div_content_imagen_atras {
        top: 0;
    }

    .equipo_div,
    .equipo_div:nth-child(even){
        justify-content: center;
    }

    .nombres_equipo {
        text-align: center;
    }

    .equipo_div_content img:hover ~ .equipo_div_content_atras,
    .equipo_div:nth-child(even) .equipo_div_content img:hover ~ .equipo_div_content_atras {
        margin: auto;
        width: auto;
        padding: unset;
        top: 1rem;
    }

    .beneficiosExclusivos {
        margin-bottom: auto !important;
    }

    .footerGeneral {
        height: auto;
    }

    .mochila-img {
        max-height: 19.7rem;
        max-width: 16rem;
        margin: 0;
    }
}