@media screen and (max-width: 768px) {
    .header {
        max-width: 485rem;
        justify-content: center;
        height: auto;
    }

    .header_logo {
        &-h1 p{
            font-size: 4rem;
        }
    } 

    .header_links {
        align-items: start;
        height: auto;
    }

    .img-carrusel {
        max-width: 100vw;
        max-height: 22rem;
    }

    .mochilasVarias {
        max-width: 485rem;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    .equipo_divGeneral {
        display: grid;
        grid-template-rows: 1fr 1fr;
        margin: 0.063rem;

        img, p{
            margin-bottom: 0.625rem;
        }
    }

    .equipo_div_content {
        margin-bottom: 1.875rem;
        display: flex;
        flex-direction: column;

        img:hover ~ .equipo_div_content_atras {
            margin-left: 13rem;
            margin-bottom: 4rem;
            padding: 1;
            left: 0;
        }
    }

    .equipo_div {
        max-width: 485rem;
        margin-top: 0rem;

        &:nth-child(even) {
            .equipo_div_content {
                flex-direction: column;

                img:hover ~ .equipo_div_content_atras {
                    left: 0;
                    margin-right: 3rem;
                }
            }
        }
    }

    .marcas {
        grid-template-columns: 18.75rem 18.75rem;
        grid-template-rows: 18.75rem 18.75rem 18.75rem;
    }

    .mochila-img {
        width: 20rem;
    }

    .ctn-mapa {
        height: 20rem;
    }
}
