@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: map-get($colores, general);
    background-color: map-get($colores, fondo);
}