* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  background-color: #f6f6f6; }

.header {
  background: #bdc3c7;
  background-image: url(../img/wave.svg);
  background-size: cover;
  background-position: 0;
  background-repeat: no-repeat; }
  .header_logo {
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    height: fit-content; }
    .header_logo .header_logo-h1 p {
      color: #14213D;
      font-size: 4rem;
      font-family: 'Shizuru', cursive;
      text-shadow: 2px -1px #9b9898;
      white-space: normal;
      text-align: center; }
  .header_links {
    width: 100%;
    color: #735751;
    font-size: 16pt;
    font-weight: bold;
    text-shadow: 0.5px -0.5px #E5E5E5; }

.lista {
  width: 98vw; }

.img-carrusel {
  height: 37.5rem;
  object-fit: cover; }

.parrafo {
  width: 31.25rem;
  margin: 3rem;
  font-size: 1.4rem;
  text-align: center;
  align-self: center; }

.titulos {
  padding-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
  font-family: 'OpenSans-ExtraBold', sans-serif;
  color: #3D405B; }

.claro {
  color: #f6f6f6;
  text-shadow: 0.125rem 0.125rem #000000; }

.mochilasVarias {
  display: flex;
  flex-direction: row;
  margin: 1.25rem;
  padding: 0.938rem; }
  .mochilasVarias img {
    border-radius: 0.625rem 6.25rem / 7.5rem;
    object-fit: cover; }

.equipo_divGeneral {
  display: grid;
  grid-template-rows: 1fr 1fr; }

.equipo_div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -2.6rem; }
  .equipo_div_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    position: relative; }
    .equipo_div_content img {
      width: 25rem;
      height: 18.75rem;
      transform: skewY(0deg);
      filter: none;
      transition: transform 2s, filter 2s;
      border-radius: 0.625rem 6.25rem / 7.5rem;
      object-fit: cover; }
    .equipo_div_content img:hover {
      transform: rotateY(180deg);
      transform-style: preserve-3d;
      filter: blur(0.125rem); }
    .equipo_div_content_imagen {
      position: relative; }
      .equipo_div_content_imagen_atras {
        position: absolute;
        display: none;
        top: 4rem;
        left: 0.1rem;
        pointer-events: none;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 0.625rem;
        box-shadow: 0.063rem 0.063rem 1.25rem #ffffff;
        font-weight: bold;
        text-align: center;
        padding: 0.5rem;
        margin: 0.5rem; }
    .equipo_div_content img:hover ~ .equipo_div_content_imagen_atras {
      display: block; }
    .equipo_div_content .nombres_equipo {
      color: #3d405d;
      background-color: #f6f6f6;
      text-transform: uppercase;
      letter-spacing: 0.313rem;
      font-size: 1.4rem;
      font-family: 'OpenSans-ExtraBold', sans-serif; }

.equipo_div:first-child {
  margin-top: 0; }

.equipo_div:nth-child(even) {
  justify-content: flex-end; }

.equipo_div:nth-child(even) .equipo_div_content {
  flex-direction: row-reverse; }

.marcas {
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center; }
  .marcas .logo img {
    filter: opacity(0.4);
    box-shadow: none;
    border-radius: 50% 50% / 50% 50%;
    transition: filter 2s, box-shadow 1s; }
  .marcas .logo img:hover {
    filter: opacity(1);
    box-shadow: 0.063rem 0.063rem 1.25rem black; }

.beneficiosExclusivos {
  font-family: 'Open Sans';
  align-items: center; }

.footerGeneral {
  width: 100%;
  height: 6rem;
  background-color: #14213D;
  display: flex;
  padding-left: 1rem;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1rem; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff; }
  .footer-parrafo {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .footer-parrafo .footer-anchor {
      margin-top: 0.5rem;
      padding-left: 0.5rem; }

.mochila-img {
  height: 32rem;
  object-fit: contain;
  align-self: center; }

.sucursales .list-group-item.active {
  background-color: #adb4b9;
  border-color: #adb4b9; }

.ctn-mapa {
  height: 20rem; }

.fondo-contacto {
  background-image: url(../img/fondo-contacto.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.fondo-work {
  background-image: url(../img/fondo-work2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.boton-comprar, .boton-comprar-hombre, .boton-comprar-mujer, .boton-comprar-kids {
  margin-top: 0.5rem;
  font-weight: 800; }

.boton-comprar-hombre {
  background-color: #005f73;
  color: #ffffff; }

.boton-comprar-mujer {
  background-color: #ca6702;
  color: #ffffff; }

.boton-comprar-kids {
  background-color: #e9d8a6; }

@media screen and (max-width: 768px) {
  .header {
    max-width: 485rem;
    justify-content: center;
    height: auto; }
  .header_logo-h1 p {
    font-size: 4rem; }
  .header_links {
    align-items: start;
    height: auto; }
  .img-carrusel {
    max-width: 100vw;
    max-height: 22rem; }
  .mochilasVarias {
    max-width: 485rem;
    flex-direction: column;
    margin: 0;
    align-items: center; }
  .equipo_divGeneral {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 0.063rem; }
    .equipo_divGeneral img, .equipo_divGeneral p {
      margin-bottom: 0.625rem; }
  .equipo_div_content {
    margin-bottom: 1.875rem;
    display: flex;
    flex-direction: column; }
    .equipo_div_content img:hover ~ .equipo_div_content_atras {
      margin-left: 13rem;
      margin-bottom: 4rem;
      padding: 1;
      left: 0; }
  .equipo_div {
    max-width: 485rem;
    margin-top: 0rem; }
    .equipo_div:nth-child(even) .equipo_div_content {
      flex-direction: column; }
      .equipo_div:nth-child(even) .equipo_div_content img:hover ~ .equipo_div_content_atras {
        left: 0;
        margin-right: 3rem; }
  .marcas {
    grid-template-columns: 18.75rem 18.75rem;
    grid-template-rows: 18.75rem 18.75rem 18.75rem; }
  .mochila-img {
    width: 20rem; }
  .ctn-mapa {
    height: 20rem; } }

@media screen and (max-width: 433px) {
  .header {
    max-width: 100%;
    justify-content: center;
    height: auto; }
  .header_logo .header_logo-h1 p {
    font-size: 3rem; }
  .header_links {
    height: auto; }
  .lista {
    flex-direction: column;
    align-items: center;
    border: #f6f6f6 solid 0.125rem; }
  .img-carrusel {
    max-width: 100vw;
    max-height: 25rem; }
  .mochilasVarias {
    flex-direction: column;
    margin: 0; }
    .mochilasVarias img {
      width: 25rem;
      height: 25rem; }
  .parrafo {
    width: 100%; }
  .equipo_divGeneral {
    display: grid;
    grid-template-columns: 1fr; }
    .equipo_divGeneral img {
      width: 18.75rem;
      height: 12.5rem; }
    .equipo_divGeneral img, .equipo_divGeneral p {
      margin-bottom: 0.625rem; }
  .equipo_div_content {
    margin-bottom: 1.875rem;
    display: flex;
    flex-direction: column;
    width: auto; }
  .equipo_div,
  .equipo_div:nth-child(even) {
    margin-top: 0;
    justify-content: center; }
  .equipo_div:nth-child(even) .equipo_div_content {
    flex-direction: column; }
  .equipo_div_content img:hover ~ .equipo_div_content_atras,
  .equipo_div:nth-child(even) .equipo_div_content img:hover ~ .equipo_div_content_atras {
    margin: auto;
    width: auto;
    padding: unset;
    top: 1rem; }
  .marcas {
    grid-template-columns: 1fr;
    grid-template-rows: 17.5rem 17.5rem 17.5rem 17.5rem 17.5rem 17.5rem; }
  .beneficiosExclusivos {
    margin-bottom: auto !important; }
  .footerGeneral {
    height: auto; }
  .mochila-img {
    max-width: 26.5rem;
    margin: 0; }
  .footerGeneral {
    flex-direction: column;
    align-items: center; }
  .footer {
    text-align: center; } }

@media screen and (max-width: 320px) {
  .mochilasVarias img {
    width: 18.75rem;
    height: 18.75rem; }
  .header {
    height: auto; }
  .header_logo {
    letter-spacing: 0;
    text-transform: uppercase;
    height: fit-content;
    width: 100%; }
    .header_logo .header_logo-h1 p {
      font-size: 3rem; }
  .header_links {
    height: auto; }
  .equipo_div_content {
    width: auto; }
  .equipo_divGeneral {
    grid-template-columns: 1fr; }
  .equipo_div_content_imagen_atras {
    top: 0; }
  .equipo_div,
  .equipo_div:nth-child(even) {
    justify-content: center; }
  .nombres_equipo {
    text-align: center; }
  .equipo_div_content img:hover ~ .equipo_div_content_atras,
  .equipo_div:nth-child(even) .equipo_div_content img:hover ~ .equipo_div_content_atras {
    margin: auto;
    width: auto;
    padding: unset;
    top: 1rem; }
  .beneficiosExclusivos {
    margin-bottom: auto !important; }
  .footerGeneral {
    height: auto; }
  .mochila-img {
    max-height: 19.7rem;
    max-width: 16rem;
    margin: 0; } }
